<%- include('../partials/header') %>



<div id="profile-details">
  <div id="profile-details-info">
    <div>
      <div class="label">Username:</div>
      <div><%= user?.username %></div>
    </div>
    <div>
      <div class="label">Email:</div>
      <div><%= user?.email %></div>
    </div>
    <div>
      <div class="label">Visibility:</div>
      <div><%= user.isPublic ? "Public" : "Private"  %></div>
    </div>
  </div>
  <div id="profile-details-avatar">
    <img src="<%= user.avatar %>" alt="User avatar" max-width="300" max-height="300">
  </div>
</div>
<div id="profile-details-buttons">
  <div>
    <a class="button button-edit" href="/profiles/edit">Edit Profile</a>
  </div>
</div>



<%- include('../partials/footer') %>