<%- include('../partials/header') %>

<form id="workout-container" action="/workouts/<%= workout._id %>?_method=put" method="POST">

  <%- include('../partials/workout-add-edit-form') %>

</form>

<%- include('../partials/workout-add-edit-script') %>

<%- include('../partials/footer') %>