<%- include('../partials/header') %>

<div>
  <div id="workouts-grid">
    <div id="workouts-actions">
      <form id="workouts-filter" action="/workouts" method="GET">
        <div class="label-container">
          <label for="workoutName">Workout Name</label>
          <input type="text" name="workoutName" id="workoutName">
        </div>
        <div class="label-container">
          <label for="category">Category</label>
          <select name="category" id="category">
            <option value=""></option>
            <!-- List of categories from input -->
            <% categories.forEach((category) => { %>
            <option value="<%= category._id %>"><%= category.name %></option>
            <% }) %>
          </select>
        </div>
        <div id="workouts-filter-buttons">
          <div class="button-container">
            <button class="button">Clear</button>
          </div>
          <div class="button-container">
            <input class="button" type="submit" value="Search">
          </div>
        </div>
      </form>
      <div id="workouts-button-create">
        <a class="button" href="/workouts/new">Create New Workout</a>
      </div>
    </div>
    <div class="workouts-list">
      <% workouts.forEach((workout) => { %>
      <a class="workout-list-container" href="/workouts/<%= workout._id %>">
        <div class="workout-list-header">
          <div class="workout-list-header-name">
            <%= workout.name %>
          </div>
          <div class="workout-list-header-user">
            <%= workout.createdBy.username %>
          </div>
        </div>
        <div class="workout-list-categories">
          <% workout.categories.forEach((category) => { %>
          <div class="workout-list-category">
            <div class="workout-list-category-name">
              <%= category.name %>
            </div>
            <div class="workout-list-category-exercise-list">
              <% category.exercises.forEach((exercise) => { %>
              <div class="workout-list-category-exercise">
                <%= exercise %>
              </div>
              <% }) %>
            </div>
          </div>
          <% }) %>
        </div>
      </a>
      <% }) %>
    </div>
    <div class="pagination">
      <div id="pagination-first" <% if (pages.currentPage < 2 ) { %> class="container-hide" <% } %>>
        <a class="button button-pagination" href="/workouts?<%= pages.searchRedirect %>&page=0">
          &lt;&lt; First</a>
      </div>
      <div id="pagination-previous" <% if (pages.currentPage < 1 ) { %> class="container-hide" <% } %>>
        <a class="button button-pagination" href="/workouts?<%= pages.searchRedirect %>&page=<%= pages.currentPage-1 %>">
          &lt; Prev</a>
      </div>
      <div id="pagination-next" <% if (pages.currentPage > pages.totalPages-2 ) { %> class="container-hide" <% } %>>
        <a class="button button-pagination" href="/workouts?<%= pages.searchRedirect %>&page=<%= pages.currentPage+1 %>">
          Next &gt;</a>
      </div>
      <div id="pagination-last" <% if (pages.currentPage > pages.totalPages-3 ) { %> class="container-hide" <% } %>>
        <a class="button button-pagination" href="/workouts?<%= pages.searchRedirect %>&page=<%= pages.totalPages-1 %>">
          Last &gt;&gt;</a>
      </div>
    </div>
  </div>
</div>




<%- include('../partials/footer') %>