<%- include('../partials/header') %>

<form id="workout-new-container" action="/workouts/new" method="POST">
  <div id="workout-new-details">
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" id="name">
    </div>
    <div>
      <label for="isPublic">Share</label>
      <input type="checkbox" name="isPublic" id="isPublic">
    </div>
  </div>
  <div id="workout-new-exercises">
    <div id="workout-new-exercises-title">
      <div>Exercises:</div>
      <div class="button button-small" id="button-workout-new-exercise-add">Add</div>
    </div>
    <div class="workout-new-exercises-add-container container-hide">
      <div id="workout-new-exercises-add-details">
        <div style="display:none">
          <input id="temp-exercise-number" type="hidden" value="0">
        </div>
        <div>
          <label for="categoryInput">Category</label>
          <select id="categoryInput">
            <option value=""></option>
            <!-- List of categories from input -->
            <% categories.forEach((category) => { %>
            <option value="<%= category.exercises %>"><%= category.name %></option>
            <% }) %>
          </select>
        </div>
        <div>
          <label for="exerciseInput">Exercise</label>
          <select id="exerciseInput">
            <option value=""></option>
            <!-- List of categories from input -->
            <% exercises.forEach((exercise) => { %>
            <option value="<%= JSON.stringify({"id":exercise._id, "name":exercise.name,"primary":exercise.measurementPrimary,"secondary":exercise.measurementSecondary}) %>"><%= exercise.name %></option>
            <% }) %>
          </select>
        </div>
        <div>
          <label for="restInput">Rest</label>
          <input name="restInput" id="restInput" type="number" min="0" value="60">
        </div>
      </div>
      <div id="workout-new-exercises-add-sets">
        <div id="workout-new-exercises-add-sets-header">
          <div>Sets:</div>
          <div class="primary"></div>
          <div class="secondary"></div>
          <div class="button button-small" id="button-new-set-add">Add</div>
        </div>
        <div id="workout-new-exercises-add-sets-details">
        </div>
      </div>
      <div id="workout-new-exercises-add-buttons">
        <div class="button button-small" id="button-new-exercises-cancel">Cancel</div>
        <div class="button button-small" id="button-new-exercises-add">Add</div>
      </div>
    </div>
    <table id="workout-new-exercises-details">
      <thead>
        <tr>
          <th style="display:none"></th>
          <th style="display:none"></th>
          <th>Name</th>
          <th>Rest</th>
          <th>Sets</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div id="workout-new-buttons">
    <div>
      <a class="button" href="/workouts">Cancel</a>
    </div>
    <div>
      <input id="button-workout-new-save" class="button" type="submit" value="Save">
    </div>
  </div>
</form>

<script>
  const addExerciseContainerElement = document.querySelector('.workout-new-exercises-add-container');
  const addExerciseButtonElement = document.querySelector('#button-workout-new-exercise-add');
  const addExerciseCancelButtonElement = document.querySelector('#button-new-exercises-cancel');
  const addExerciseCategoryElement = document.querySelector('#categoryInput');
  const addExerciseExerciseElement = document.querySelector('#exerciseInput');
  const addExerciseRestElement = document.querySelector('#restInput');
  const addExerciseSetListElement = document.querySelector('#workout-new-exercises-add-sets-details');

  const addSetButtonElement = document.querySelector('#button-new-set-add');
  const deleteSetButtonElement = document.querySelector('.button-workout-new-set-delete');

  const addExerciseSaveButtonElement = document.querySelector('#button-new-exercises-add')
  const saveExerciseButton = document.querySelector('#button-workout-new-save');

  const setHeaderPrimaryElement = document.querySelector('#workout-new-exercises-add-sets-header .primary');
  const setHeaderSecondaryElement = document.querySelector('#workout-new-exercises-add-sets-header .secondary');

  const exerciseListElement = document.querySelector('#workout-new-exercises-details > tbody');

  const addExerciseTempNumberElement = document.querySelector('#temp-exercise-number')

  // Function to reset the Add Exercise form
  function cleanAddExerciseContainer() {
    addExerciseCategoryElement.value = '';
    addExerciseExerciseElement.value = '';
    addExerciseRestElement.value = '60';
    addExerciseSetListElement.innerHTML = '';
    addExerciseCategoryElement.classList.remove('input-error');
    addExerciseExerciseElement.classList.remove('input-error');
    addExerciseRestElement.classList.remove('input-error');
    addExerciseTempNumberElement.value = '0';
  }

  // Exercise Add button listener
  addExerciseButtonElement.addEventListener('click', (event) => {
    addExerciseContainerElement.classList.remove('container-hide')
  })

  // Exercise Cancel button listener
  addExerciseCancelButtonElement.addEventListener('click', (event) => {
    addExerciseContainerElement.classList.add('container-hide');
    cleanAddExerciseContainer();
  })

  // Exercise Add Set button listener
  addSetButtonElement.addEventListener('click', (event) => {
    // Check that Exercise is not blank
    if (addExerciseExerciseElement.value === '') {
      addExerciseExerciseElement.classList.add('input-error');
      return;
    } else {
      addExerciseExerciseElement.classList.remove('input-error');
    }

    // Update Primary and Secondary Mesurement headers
    const exerciseDetails = JSON.parse(addExerciseExerciseElement.value);
    setHeaderPrimaryElement.innerText = exerciseDetails.primary;
    setHeaderSecondaryElement.innerText = exerciseDetails.secondary;

    // Get next set number
    const rowNum = addExerciseSetListElement.childElementCount + 1;

    let primaryFieldSettings
    switch (exerciseDetails.primary) {
      case 'TIME':
        primaryFieldSettings = `<input class="input primary-measurement" type="number" min="0" step="0.01" value="0">`
        break;
      case 'REPS':
        primaryFieldSettings = `<input class="input primary-measurement" type="number" min="0" value="0">`
        break;
      case 'DISTANCE':
        primaryFieldSettings = `<input class="input primary-measurement" type="number" min="0" step="0.01" value="0">`
        break;
      case 'WEIGHT':
        primaryFieldSettings = `<input class="input primary-measurement" type="number" min="0" step="0.01" value="0">`
        break;
      default:
        primaryFieldSettings = `<input class="input primary-measurement" type="number" min="0" step="0.01" value="0">`
    }

    let secondaryFieldSettings
    switch (exerciseDetails.secondary) {
      case 'TIME':
        secondaryFieldSettings = `<input class="input secondary-measurement" type="number" min="0" step="0.01" value="0">`
        break;
      case 'REPS':
        secondaryFieldSettings = `<input class="input secondary-measurement" type="number" min="0" value="0">`
        console.log(exerciseDetails.primary, exerciseDetails.secondary)
        break;
      case 'DISTANCE':
        secondaryFieldSettings = `<input class="input secondary-measurement" type="number" min="0" step="0.01" value="0">`
        break;
      case 'WEIGHT':
        secondaryFieldSettings = `<input class="input secondary-measurement" type="number" min="0" step="0.01" value="0">`
        break;
      default:
        secondaryFieldSettings = ''
    }

    const newSetElement = document.createElement('div');
    newSetElement.innerHTML = `<label>${rowNum}</label>
    ${primaryFieldSettings}
    ${secondaryFieldSettings}
    <div class="button button-small button-workout-new-set-delete" id="button-workout-new-set-delete-${rowNum}">Delete</div>`
    addExerciseSetListElement.appendChild(newSetElement);
  })

  // Exercise Delete set button listener
  addExerciseSetListElement.addEventListener('click', (event) => {
    const target = event.target;
    if (!target.classList.contains('button-workout-new-set-delete')) return;
    const targetLine = target.parentNode;
    const targetRowNum = targetLine.querySelector('label').innerText
    addExerciseSetListElement.removeChild(targetLine)

    // Update row nums
    const setList = addExerciseSetListElement.children;
    for (let i = targetRowNum - 1; i < setList.length; i++) {
      setList[i].querySelector('label').innerText--;
      const [primaryElement, secondaryElement] = setList[i].querySelectorAll('input');
      const deleteElement = setList[i].querySelector('.button-workout-new-set-delete');
      primaryElement.name = `primary${i+1}`;
      secondaryElement.name = `secondary${i+1}`;
      deleteElement.id = `button-workout-new-set-delete-${i+1}`;
    }

  })

  // Excerise add (save) button listener
  addExerciseSaveButtonElement.addEventListener('click', (event) => {
    // validate details are correct
    if (addExerciseExerciseElement.value === '') {
      addExerciseExerciseElement.classList.add('input-error');
      return;
    } else {
      addExerciseExerciseElement.classList.remove('input-error');
    }
    if (addExerciseRestElement.value === '') {
      addExerciseRestElement.classList.add('input-error');
      return;
    } else {
      addExerciseRestElement.classList.remove('input-error');
    }

    // TODO Check if each primary field has a value

    // Get values
    const exerciseInfo = JSON.parse(addExerciseExerciseElement.value);
    // next id num
    const tempExerciseNumber = addExerciseTempNumberElement.value;
    let nextExerciseNum
    if (tempExerciseNumber === '0') {
      nextExerciseNum = exerciseListElement.childElementCount + 1;
    } else {
      nextExerciseNum = +tempExerciseNumber
    }

    // rest
    const rest = addExerciseRestElement.value;

    const exerciseDetails = {
      exercise: exerciseInfo.id,
      sets: [],
      rest: rest
    }
    // Number of sets
    const setNum = addExerciseSetListElement.childElementCount;
    // Populate sets
    const setList = addExerciseSetListElement.children
    for (let i = 0; i < setNum; i++) {
      const primaryValue = setList[i].querySelector('.primary-measurement').value;
      const secondaryValue = setList[i].querySelector('.secondary-measurement').value;
      const primaryMeasurementType = exerciseInfo.primary?.toLowerCase();
      const secondaryMeasurementType = exerciseInfo.secondary?.toLowerCase();
      const set = {
        [primaryMeasurementType]: primaryValue
      }
      if (secondaryMeasurementType !== '') {
        set[secondaryMeasurementType] = secondaryValue;
      }
      exerciseDetails.sets.push(set);
    }

    const exerciseDetailsString = JSON.stringify(exerciseDetails);

    const newExerciseElement = document.createElement('tr');
    newExerciseElement.innerHTML =
      `<td style="display: none"><input type="hidden" name="exerciseDetails${nextExerciseNum}" class="exercise-details"></td>
      <td style="display: none"><input type="hidden" class="exercise-number" value=${nextExerciseNum}></td>
      <td>${exerciseInfo.name}</td>
      <td>${rest}</td>
      <td>${setNum}</td>
      <td>
        <div class="button button-small button-workout-new-exercise-edit" id="button-workout-new-exercise-edit">Edit</div>
        <div class="button button-small button-workout-new-exercise-delete" id="button-workout-new-exercise-delete">Delete</div>
      </td>`
    newExerciseElement.exerciseDetails = exerciseDetails;
    newExerciseElement.querySelector('.exercise-details').value = exerciseDetailsString;
    exerciseListElement.appendChild(newExerciseElement);
  })

  // Listener for Exercise Edit and Delete buttons
  exerciseListElement.addEventListener('click', (event) => {
    const target = event.target;
    // if not edit or delete button, do nothing
    if (!target.classList.contains('button-workout-new-exercise-delete') && !target.classList.contains('button-workout-new-exercise-edit')) return;

    if (target.classList.contains('button-workout-new-exercise-delete')) {
      const exerciseLineElement = target.parentNode.parentNode
      const exerciseNumber = exerciseLineElement.querySelector('.exercise-number').value;

      // Remove the line
      exerciseListElement.removeChild(exerciseLineElement);

      // Update remaining exercise numbers
      const exerciseList = exerciseListElement.children;
      for (let i = exerciseNumber - 1; i < exerciseList.length; i++) {
        exerciseList[i].querySelector('.exercise-number').value = (i + 1).toString()
      }
      return;
    }

    if (target.classList.contains('button-workout-new-exercise-edit')) {
      console.log(target.parentNode.parentNode)
      return;
    }
  })
</script>

<%- include('../partials/footer') %>