<%- include('../partials/header') %>

<div>
  <div id="exercises-grid">
    <div id="exercises-actions">
      <form id="exercises-filter" action="/exercises" method="GET">
        <div class="label-container">
          <label for="exerciseName">Exercise Name</label>
          <input type="text" name="exerciseName" id="exerciseName">
        </div>
        <div class="label-container">
          <label for="category">Category</label>
          <select name="category" id="category">
            <option value=""></option>
            <!-- List of categories from input -->
            <% categories.forEach((category) => { %>
            <option value="<%= category._id %>"><%= category.name %></option>
            <% }) %>
          </select>
        </div>
        <div id="exercises-filter-buttons">
          <div class="button-container">
            <button class="button">Clear</button>
          </div>
          <div class="button-container">
            <input class="button" type="submit" value="Search">
          </div>
        </div>
      </form>
      <div id="exercises-button-create">
        <a class="button" href="/exercises/new">Create New Exercise</a>
      </div>
    </div>
    <div class="exercises-list">
      <% exercises.forEach((exercise) => { %>
      <a class="exercise-list-container" href="/exercises/<%= exercise._id %>">
        <div class="exercise-list-details-container">
          <div class="exercise-list-name">
            <%= exercise.name %>
          </div>
          <div class="exercise-list-category">
            <%= exercise.category.name %>
          </div>
        </div>
        <div class="exercise-list-measurements-container">
          <div>
            <div class="exercise-list-measurement exercise-list-primary">
              <%= exercise.measurementPrimary %>
            </div>
          </div>
          <div>
            <% if (exercise.measurementSecondary !== '' && typeof exercise.measurementSecondary !== 'undefined' ) { %>
            <div class="exercise-list-measurement exercise-list-secondary"><%= exercise.measurementSecondary %></div>
            <% } %>
          </div>
        </div>
      </a>
      <% }) %>
    </div>
    <div class="pagination">
      <div id="pagination-first" <% if (pages.currentPage < 2 ) { %> class="container-hide" <% } %>>
        <a class="button button-pagination" href="/exercises?<%= pages.searchRedirect %>&page=0">
          &lt;&lt; First</a>
      </div>
      <div id="pagination-previous" <% if (pages.currentPage < 1 ) { %> class="container-hide" <% } %>>
        <a class="button button-pagination" href="/exercises?<%= pages.searchRedirect %>&page=<%= pages.currentPage-1 %>">
          &lt; Prev</a>
      </div>
      <div id="pagination-next" <% if (pages.currentPage > pages.totalPages-2 ) { %> class="container-hide" <% } %>>
        <a class="button button-pagination" href="/exercises?<%= pages.searchRedirect %>&page=<%= pages.currentPage+1 %>">
          Next &gt;</a>
      </div>
      <div id="pagination-last" <% if (pages.currentPage > pages.totalPages-3 ) { %> class="container-hide" <% } %>>
        <a class="button button-pagination" href="/exercises?<%= pages.searchRedirect %>&page=<%= pages.totalPages-1 %>">
          Last &gt;&gt;</a>
      </div>
    </div>
  </div>
</div>




<%- include('../partials/footer') %>