<%- include('../partials/header') %>


<div id="exercise-details-info">
  <div>
    <div class="label">Category:</div>
    <div class="value"><%= exercise.category.name %></div>
  </div>
  <div>
    <div class="label">Exercise:</div>
    <div class="value"><%= exercise.name %></div>
  </div>
  <div>
    <div class="label">Primary Measurement:</div>
    <div class="value"><%= exercise.measurementPrimary %></div>
  </div>
  <div>
    <div class="label">Secondary Measurement:</div>
    <div class="value"><%= exercise.measurementSecondary %></div>
  </div>
</div>
<div id="exercise-show-buttons">
  <div id="button-delete-exercise" <% if (exercise.createdBy._id.toString() !== user?._id.toString()  || typeof user === 'undefined') { %> class="button button-delete container-hide" <% } else { %> class="button button-delete" <% } %>>Delete</div>
  <div <% if (exercise.createdBy._id.toString() !== user?._id.toString() || typeof user === 'undefined') { %> class="container-hide" <% } %>>
    <a class="button button-edit" href="/exercises/<%= exercise._id %>/edit">Edit</a>
  </div>
  <div>
    <a class="button button-cancel" href="/exercises">Back</a>
  </div>
</div>
<div class="container-hide show-delete-confirm-container">
  <div>Are you sure you want to delete this exercise?</div>
  <form action="/exercises/<%= exercise._id %>?_method=delete" method="POST">
    <div id="button-delete-exercise-cancel" class="button button-cancel">Cancel</div>
    <input class="button button-delete" type="submit" value="Delete">
  </form>
</div>

<script>
  const deleteExerciseButtonElement = document.querySelector('#button-delete-exercise');
  const deleteExerciseButtonCancelElement = document.querySelector('#button-delete-exercise-cancel');
  const deleteExerciseConfirmElement = document.querySelector('.show-delete-confirm-container');

  deleteExerciseButtonElement.addEventListener('click', (event) => {
    deleteExerciseConfirmElement.classList.remove('container-hide')
  });

  deleteExerciseButtonCancelElement.addEventListener('click', (event) => {
    deleteExerciseConfirmElement.classList.add('container-hide')
  });
</script>
<%- include('../partials/footer') %>